body {
    padding-top: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li.item {
    font-size: small;
}

form.flake-form {
    position:relative;
    top: -10px;
}

#flake-body {
    display: none;
}

.wrapper {
    width: 100%;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
}

#editor {
    position: relative;
    width   : 100%;
    height  : 600px;
}
